<h1>New Users</h1>
<form action="/users"
      method="post" 
      accept-charset="UTF-8">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <label for="username">Username:</label>
  <input id="username" type="text" name="user[username]">

  <label for="email">Email:</label>
  <input id="email" type="email" name="user[email]">

  <label for="password">Password:</label>
  <input id="password" type="password" name="user[password]">

  <input type="submit" value="Submit">
</form>